<section style="margin: 0px;">
    <div class="row m-0">
        <div class="container-fluid col-1 d-flex justify-content-center mt-4" style="width: 100%;"> 
        <img src="/banner/img-banner-offer.webp" alt="" class="img-fluid" style="max-width: 100%; height: auto;">
        </div>
    </div>
</section>
<section style=" margin-top: 50px;">
    <div class="row m-0 ">
        <form action="/proceed-to-payment" method="post" class="form-control d-flex justify-content-around">
            <div class="col-7" style="border-radius: 20px; padding: 50px; border: 1px solid gray;">
                <table class="table">
                    <tr class="mt-3">
                            <td> First Name </td>
                            <td><input type="text" name="first_name" id="fname" onkeyup="validFname()" class="form-control border border-dark rounded-lg" style="border-radius: 10px;">
                                <span id="fname-error" class="text-danger text-center"> </span>
                            </td>
                            <td class="ms-4">Second Name</td>
                            <td>
                            <input type="text" name="second_name" id="sname" onkeyup="validSname()" class="form-control border border-dark rounded-lg" style="border-radius: 10px;">
                            <span id="sname-error" class="text-danger text-center"></span>
                            </td>
                     </tr>
                      <tr class="mt-3">
                           <td> House Name </td>
                           <td><input type="text" name="house_name" id="hname" onkeyup="validHname()" class="form-control border border-dark rounded-lg" style="border-radius: 10px;"> 
                           <span id="hname-error" class="text-danger text-center"></span>
                           </td>
                            <td class="ms-4">Street</td>
                            <td>
                            <input type="text" name="street" id="street" onkeyup="validStreet()" class="form-control border border-dark rounded-lg" style="border-radius: 10px;">
                            <span id="street-error" class="text-danger text-center"></span>
                            </td>
                    </tr>
                     <tr class="m-3">
                            <td> Town </td>
                            <td><input type="text" name="town" id="town" class="form-control border border-dark rounded-lg" style="border-radius: 10px;"> 
                            <span id="town-error" class="text-danger text-center"  ></span>
                            </td>
                            <td class="ms-4">PIN</td>
                            <td>
                            <input type="text" name="pin" id="pin" onkeyup="validPin()" class="form-control border border-dark rounded-lg" style="border-radius: 10px;"> 
                            <span id="pin-error" class="text-danger text-center"></span>
                            </td>
                    </tr>
                    <tr class="m-3">
                            <td> State </td>
                            <td><input type="text" name="state" id="state" class="form-control border border-dark rounded-lg" style="border-radius: 10px;">
                                <span id="state-error" class="text-danger text-center"></span>
                            </td>
                            <td class="ms-4"> Country</td>
                            <td><input type="text" name="country" id="country" class="form-control border border-dark rounded-lg" style="border-radius: 10px;">
                            <span id="country-error" class="text-danger text-center"></span>
                            </td>
                    </tr>
                    <tr class="m-3">
                            <td>Mobile</td>
                            <td>
                            <input type="text" name="mobile" id="mobile" disabled value="{{user.user_mobile}}" class="form-control border border-dark rounded-lg" style="border-radius: 10px;">
                             <span id="mobile-error" class="text-danger text-center"></span>
                            </td>
                            <td class="ms-4"> Email </td>
                            <td><input type="text" name="email" id="email" disabled value="{{user.user_email}}" class="form-control border border-dark rounded-lg" style="border-radius: 10px;">
                            <span id="email-error" class="text-danger text-center"></span>
                            </td>
                     </tr>
                    <tr class="m-3">
                            <td><input type="text" name="userId" hidden value="{{user._id}}"></td>
                            <td>
                                <input type="text" name="total-amount" hidden value="{{total}}">
                            </td>
                    </tr> 
                </table> 
            </div>
            <div class="col-4" style=" border-radius: 20px; padding-top: 50px; padding-bottom: 50px; border: 1px solid gray;">
                <div class="row">
                    <div class="col-12">
                        <div class="row m-0 p-0">
                            <div class="col-12 d-flex justify-content-center"><h5 > Enter your coupon code if any </h5></div>
                        </div>
                        <div class="row d-flex justify-content-around p-0 m-2">
                            <div class="col-6"><input type="text" name="coupon" id="coupon" class="" class="form-control border border-dark rounded"  ></div>
                            <div class="col-4"><button type="button" class="btn btn-primary btn-sm" onclick="validateCoupon()">Apply</button></div>
                        </div>
                        <div class="row  p-0 m-0">
                            <div class="col-12 d-flex justify-content-center"><span id="couponAlert" class="text-danger text-center"></span></div>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-center p-0 m-0">
                        <div class="col-4 d-flex justify-content-end">
                            <h6>Total MRP : </h6>
                        </div>
                        <div class="col-4">
                        <h5><span id="totalView">{{total}}</span></h5> 
                        <input type="text" name="total" id="total" value="{{total}}" hidden>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-center p-0 m-0">
                        <div class="col-4 d-flex justify-content-end">
                            <h6>Wallet : </h6>
                        </div>
                        <div class="col-4">
                            <h5><span id="totalView1">{{walletBalance}}</span></h5>
                            <input type="text" name="wallet" id="wallet" value="{{walletBalance}}" hidden>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center p-0 m-0">
                        <div class="col-4 d-flex justify-content-end"><h6>Amount Payable : </h6></div>
                        <div class="col-4">
                            <h5><span id="totalView2">{{amountPayable}}</span></h5>
                            <input type="text" name="amountPay" id="amountPay" value="{{amountPayable}}" hidden>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-around p-0 mt-2 ms-0 me-0">
                        <div class="col-6"><a href="/" class=" btn btn-warning ms-3 rounded" style="">Continue purchase</a></div>
                        <div class="col-6"><button class="btn btn-success ml-5 rounded" type="submit" onclick="return validForm()"> Proceed to Payment </button></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
            <script>var fnameError = document.getElementById('fname-error'); var snameError = document.getElementById('sname-error'); var hnameError = document.getElementById('hname-error'); var streetError = document.getElementById('street-error'); var pinError = document.getElementById('pin-error'); function validFname() {

                    var title = document.getElementById('fname').value;

                    if (title.length == 0) {
                        fnameError.innerHTML = 'First name is required....';
                        return false;
                    }
                    if (!title.match(/^[A-Za-z ]*$/)) {
                        fnameError.innerHTML = 'Invalid format....';
                        return false;
                    }
                    fnameError.innerHTML = ' ';
                    return true;
                }; function validSname() {

                    var title = document.getElementById('sname').value;

                    if (title.length == 0) {
                        snameError.innerHTML = 'Second name is required....';
                        return false;
                    }
                    if (!title.match(/^[A-Za-z ]*$/)) {
                        snameError.innerHTML = 'Invalid format....';
                        return false;
                    }
                    snameError.innerHTML = ' ';
                    return true;
                }; function validHname() {

                    var title = document.getElementById('hname').value;

                    if (title.length == 0) {
                        hnameError.innerHTML = 'House Name is required....';
                        return false;
                    }
                    if (!title.match(/^[A-Za-z ]*$/)) {
                        hnameError.innerHTML = 'Invalid format....';
                        return false;
                    }
                    hnameError.innerHTML = ' ';
                    return true;
                }; function validStreet() {

                    var title = document.getElementById('street').value;

                    if (title.length == 0) {
                        streetError.innerHTML = 'Street is required....';
                        return false;
                    }
                    if (!title.match(/^[A-Za-z ]*$/)) {
                        streetError.innerHTML = 'Invalid format....';
                        return false;
                    }
                    streetError.innerHTML = ' ';
                    return true;
                }; function validPin() {

                    var title = document.getElementById('pin').value;

                    if (title.length == 0) {
                        pinError.innerHTML = 'PIN is required....';
                        return false;
                    }
                    if (title.length !== 6) {
                        pinError.innerHTML = 'Invalid PIN....';
                        return false;
                    }
                    if (!title.match(/^\d*$/)) {
                        pinError.innerHTML = 'Invalid format....';
                        return false;
                    }
                    pinError.innerHTML = '<i class="fa-solid fa-circle-check"></i>';
                    return true;
                }; function validForm() {
                    if (!validFname() || !validSname() || !validHname() || !validStreet() || !validPin()) {

                        return false;
                    }
                    
                    return true;
                };
                </script>
<script>
let alertCoupon=document.getElementById('couponAlert')
function validateCoupon(){
    coupon=document.getElementById('coupon').value
    let walletAmnt=document.getElementById('wallet').innerHTML
    if(coupon.length!=7){
        alertCoupon.innerHTML='Invalid Coupon'
    }else{
        $.ajax({
            url:'/check-coupon/'+coupon,
            method:'post',
            success:(response)=>{
                if(response.couponInvalid){
                Swal.fire({
                title: 'Failed',
                text: "Invalid Coupon",
                icon: 'warning',
                showCancelButton: false,
                confirmButtonColor: '#11B619',
                cancelButtonColor: '#A19391',
                confirmButtonText: 'Ok'
                }).then((result) => {
                             if (result.isConfirmed) {
                                                    return false
                                                    }
                        })

                }else if(response.couponExpired){
                Swal.fire({
                title: 'Failed',
                text: "Coupon Expired",
                icon: 'warning',
                showCancelButton: false,
                confirmButtonColor: '#11B619',
                cancelButtonColor: '#A19391',
                confirmButtonText: 'Ok'
                }).then((result) => {
                             if (result.isConfirmed) {
                                                    return false
                                                    }
                        })

                }else if(response.couponUsed){
                Swal.fire({
                title: 'Failed',
                text: "You already used this coupon",
                icon: 'warning',
                showCancelButton: false,
                confirmButtonColor: '#11B619',
                cancelButtonColor: '#A19391',
                confirmButtonText: 'Ok'
                }).then((result) => {
                             if (result.isConfirmed) {
                                                    return false
                                                    }
                        })

                }else if(response.couponSuccess){
                        Swal.fire({
                        title: 'Success',
                        text: "Coupon Applied Successfully",
                        icon: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#11B619',
                        cancelButtonColor: '#A19391',
                        confirmButtonText: 'Ok'
                        }).then((result) => {
                             if (result.isConfirmed) {
                                                                                                        document.getElementById('coupon').disabled=true
                                                    document.getElementById('totalView').innerHTML=response.couponTotal
                                                    document.getElementById('total').value=response.couponTotal
                                                    
                                                    let amnt=response.couponTotal
                                                   
                                                    if(response.couponTotal>walletAmnt){
                                                        amnt=response.couponTotal-walletAmnt
                                                        walletAmnt=0
                                                       
                                                    }else if(response.couponTotal<walletAmnt){
                                                        walletAmnt=walletAmnt-response.couponTotal
                                                        amnt=0
                                                        
                                                    }else{
                                                        walletAmnt=0
                                                        amnt=0 
                                                    }
                                                    document.getElementById('totalView1').innerHTML=walletAmnt
                                                    document.getElementById('wallet').value=walletAmnt
                                                    document.getElementById('totalView2').innerHTML=amnt
                                                    document.getElementById('amountPay').value=amnt

                                                    }
                        })
                    
                }else{
                Swal.fire({
                title: 'Warning',
                text: "Ajax Error",
                icon: 'warning',
                showCancelButton: false,
                confirmButtonColor: '#11B619',
                cancelButtonColor: '#A19391',
                confirmButtonText: 'Ok'
                }).then((result) => {
                             if (result.isConfirmed) {
                                                    return false
                                                    }
                        })

                }

            }
        })
    }
    return false
}
                </script>