

<section class="container-fluid">
<div class="row d-flex justify-content-evenly mt-4">
    <div class="col-2 p-4" style="height: 500px; background-color: beige;">
        <div class="row">
            <div class="col-1">
            <a href="#"><h4>Category</h4></a> 
            <a href="/user/vegitableView"><h6>Vegitables</h6></a>
            <a href="/user/fruitsView"><h6>Fruits</h6></a>
            <a href="/user/saladView"><h6>Salads</h6></a>
            </div>
            
        </div>
    </div>
    <div class="col-9" style="height: 500px; background-color: beige;">
        <div class="row">
      {{#each products}}
      <div class="col-md-4 ">
      <div class="card m-3" style="width: 18rem;">
      <a href="/view-product/{{this._id}}"><img src="/product-images/{{this.img_path.[0]}}" class="card-img-top" alt="..." style="height: 300px; width: 200;"></a>
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">{{this.category.[0]}}</p>
    <p class="card-text">{{this.description}}</p>
    <p class="card-text">{{this.price}}</p>
    <a href="/add-to-cart/{{this._id}}" class="btn btn-warning">Buy now</a>
    <a href="/add-to-cart/{{this._id}}" class="btn btn-success">Add to Cart</a>
  </div>
</div>
</div>
    {{/each}}
    </div> 
    </div>
</div>

</section>
