{{!-- <link rel="stylesheet" href="/stylesheets/profile-css.css"> --}}
<section class="h-100 gradient-custom-2 mb-4">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100 mt-4">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <img src="/images/user.png"
                alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1">
                <a href="/edit-profile" class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="z-index: 1;">Edit profile</a>
            {{#if updateSuccess}}
            <div class="alert alert-success" role="alert">Profile Updated Successfully!</div>
            {{/if}}
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5>{{user.user_name}}</h5>
              <p>{{user.user_email}}</p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
                <a href="/view-orders" class="btn btn-outline-dark">Order Details...</a>
              </div>
              <div class="px-3">
                 <a href="/get-cart" class="btn btn-outline-dark">Cart Details...</a>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">Adress</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                {{#each userAddress}}
                <form action="/edit-address/{{this._id}}" method="post">
                <p class="font-italic mb-1">{{this.address_collection.first_name}}, {{this.address_collection.house_name}}</p>
                <p class="font-italic mb-1">{{this.address_collection.street}},{{this.address_collection.town}}</p>
                <p class="font-italic mb-1">{{this.address_collection.pin}}</p>
                <button type="submit" class="btn border border-secondary rounded" >Edit Address</button>
                <hr>
                </form>
                {{/each}}
              </div>
              <button class="btn btn-danger rounded" onclick="deleteprofile()">Delete Profile</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function deleteprofile(){
    alert('fgdgfgdgdf')
 $.ajax({
    url:'/delete-profile',
    method:'post',
    success:(response)=>{
      if(response.profileDeleted){
          Swal.fire({
          title: 'Deleted',
          text: "Profile Deleted Successfully",
          icon: 'success',
          showCancelButton: false,
          confirmButtonColor: '#11B619',
          cancelButtonColor: '#A19391',
          confirmButtonText: 'Ok'
          }).then((result) => {
               if (result.isConfirmed) {
                                      location.href='/'
                                      }
          })

      }

    }
  })  
  }
</script>


